snippet t
<tag>${VISUAL:inside text/should/is/g}</tag>
endsnippet

snippet "} "}}}"
"}}}
endsnippet

snippet "{ "{{{" w
"{{{
endsnippet

snippet ml "mode line" !b
# vim:set ft=sh:
endsnippet

snippet test "Description" !b
$1

line2 $1
endsnippet

