[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/vim-scripts/UltiSnips.git
[submodule "bundle/auto_mkdir"]
	path = bundle/auto_mkdir
	url = https://github.com/vim-scripts/auto_mkdir.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = https://github.com/git-mirror/vim-l9.git
[submodule "bundle/vim-instant-markdown"]
	path = bundle/vim-instant-markdown
	url = https://github.com/scturtle/vim-instant-markdown-py.git
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/doxygen-support"]
	path = bundle/doxygen-support
	url = https://github.com/vim-scripts/doxygen-support.vim.git
[submodule "bundle/vim-zencoding"]
	path = bundle/vim-zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/ycm"]
	path = bundle/ycm
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/py-imports"]
	path = bundle/py-imports
	url = https://github.com/vim-scripts/python-imports.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/colorizer"]
	path = bundle/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/operator-highlight"]
	path = bundle/operator-highlight
	url = https://github.com/Valloric/vim-operator-highlight.git
[submodule "bundle/ListToggle"]
	path = bundle/ListToggle
	url = https://github.com/Valloric/ListToggle.git
[submodule "bundle/vim-python-mode"]
	path = bundle/vim-python-mode
	url = https://github.com/loyalpartner/python-mode.git
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "bundle/numbers.vim"]
	path = bundle/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tsaleh/vim-matchit.git
